:root {
    --primary-text-color:#212121;
    --title-text-color:#757575;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --primary-black-color:#2F303A;
    --title-white-color:rgba(255, 255, 255, 0.6);
}

/* Папка сайта */
.page {
   background-color:var(--primary-white-color); 
   color: var(--primary-text-color);
}


.logo {
    color: var(--accent-color);
}

.studio {
    color: var(--primary-text-color);
}
.link {
   color:var(--primary-text-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.link.current {
    color: var(--accent-color);
}

.auth-nav .link {
    color: var(--primary-text-color);
}

.auth-nav .link.current {
    color: var(--accent-color);
}

.auth-nav .link:hover {
    color:var(--primary-text-color);
}

/* Герой */

.hero {
    background-color: var(--primary-black-color);

}

.hero-title {
    color: var(--primary-white-color);
    
}

.button-primary {
  color:var(--primary-white-color);
  background-color: var(--accent-color);  
}

/* Особливості */

.pec-title {
    color: var(--primary-text-color);
}

.pec-text {
    color: var(--title-text-color);
}

/* Чим ми займаємося */

.what-doing {
    color: var(--primary-text-color);
}

/* Наша команда */

.out-team {
color: var(--primary-text-color);    
}

.our-people {
    color: var(--primary-text-color);
}

.people {
    color: var(--title-text-color);
}

/* Футер */

.footer {
background-color: var(--primary-black-color)
}

.address-city {
color: var(--primary-white-color);
}

.address-mail {
    color: var(--title-white-color);
}

.address-tel {
    color: var(--title-white-color);
}

.tipo {
    color: var(--primary-white-color);
}