:root {
    --primary-text-color:#212121;
    --title-text-color:#757575;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --primary-black-color:#2F303A;
}

/* Папка сайта */
body {
   background-color:var(--primary-white-color) ; 
   color: var(--primary-text-color);
}
.list {
    list-style: none;
}

.sait-nav .link.current {
   color:var(--primary-text-color);
}

.sait-nav .link:hover,
.sait-nav .link:focus {
    color: var(--accent-color);
}

.sait-nav .link.current {
    color: var(--accent-color);
}

.auth-nav .link.current {
    color: var(--accent-color);
}

.auth-nav .link:hover {
    color:var(--primary-text-color);
}

/* Герой */

.hero {
background-color: var(--primary-black-color);
}

.hero-title {
    color: var(--primary-white-color);
    
}

.button-primary {
  color:var(--primary-white-color);
  background-color: var(--accent-color);  
}

/* Особливості */


/* осн колір текста #212121 */
/* допоміжний колір текста #757575 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* цвет черного фона #2F303A; */